<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Productos</title>
</head>
<body>
    <h1>Productos del carrito</h1>
     {{#each products}}
    <div>
        <p>Title: {{this.product.title}} &nbsp; Description: {{this.product.description}} &nbsp; Price: {{this.product.price}} &nbsp; Quantity: {{this.quantity}}</p>
    </div>
    <br/>
    {{/each}}
</body>
</html>